@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: grey;
}

li {
  list-style-type: none;
}

.footer,
.header {
  display: flex;
  justify-content: space-between;
}

.left-links,
.right-links {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.footer {
  background-color: #EEEEEE;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttons button {
  padding: 8px;
  margin-top: 4px;
}

ul {
  padding-left: 22px;
  padding-right: 22px;
}
